#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 16px; /* Base font size */
}

@media (max-width: 768px) {
  :root {
    font-size: 14px; /* Smaller base font size for mobile devices */
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 95px;
  height: 95px;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
  cursor: pointer;
  margin: 5px;
  -webkit-tap-highlight-color: transparent; /* Prevent highlight on tap for mobile */
}

.box:hover {
  background-color: #f0f0f0; /* Slight background change on hover */
}

.playerX {
  color: #ff6861;
}

.playerO {
  color: #4a90e2;
}

@keyframes textPopUp {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.5); /* Temporarily scale up to create a 'pop' effect */
  }
  100% {
    transform: scale(1);
  }
}

.textFadeIn {
  animation: textPopUp 0.5s ease-in-out forwards;
  display: inline-block;
  transform-origin: center;
}

.grid-row {
  display: flex;
}

.disappearing {
  opacity: 0.4 !important;
}

@keyframes scalePulse {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.victory-confetti {
  font-size: 2.5rem;
  margin-bottom: 10px;
  animation: scalePulse 0.5s ease-in-out forwards;
}

.currentPlayer {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.resetButton {
  background-color: white; /* Updated to a soothing shade of blue */
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}

.resetButton:hover {
  background-color: #f0f0f0; /* Slight background change on hover */
}

.visibility-hidden {
  visibility: hidden;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.winning-box {
  animation: flash 1s infinite;
}
